{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    {% for success in app.flashes('success') %}
        <div>
            {{ success }}
        </div>
    {% endfor %}

    {% for error in app.flashes('error') %}
        <div>
            {{ error }}
        </div>
    {% endfor %}
<h1>Home</h1>

    <div class="w-full min-h-screen flex flex-wrap justify-center mt-52">
    <div class="w-3/4 h-80 bg-lightenDarkBlue p-4">
        <h2 class="text-4xl">Collections<br>Collect every item that you desire, Movies, Manga, BoardGames, Videos Games</h2>
    </div>
    </div>

{% endblock %}
