{% extends 'base.html.twig' %}

{% block title %}New Borrow{% endblock %}

{% block body %}
    <h1>Create new Borrow</h1>
    <div class="flex flex-wrap justify-center min-h-screen w-full mt-80">
        <div class="w-1/4">
            {{ include('borrow/_form.html.twig') }}
        </div>
    </div>

    <a href="{{ path('app_borrow_index') }}">back to list</a>
{% endblock %}
