{% extends 'base.html.twig' %}

{% block title %}Edit Collection{% endblock %}

{% block body %}
    <h1>Edit Collection</h1>

    {{ include('collection/_form.html.twig', {'button_label': 'Update'}) }}


    {{ include('collection/_delete_form.html.twig') }}
{% endblock %}
