{% extends 'base.html.twig' %}

{% block title %}Edit Collection{% endblock %}

{% block body %}
    <h1>Edit Collection</h1>
    <h1>Create new Collection</h1>
    <div class="flex flex-wrap justify-center min-h-screen w-full mt-80">
        <div class="w-1/4">
            {{ include('collection/_form.html.twig', {'button_label': 'Update'}) }}
        </div>
    </div>


    {{ include('collection/_delete_form.html.twig') }}
{% endblock %}
