{% extends 'base.html.twig' %}

{% block title %}Collection index{% endblock %}

{% block body %}
    <h1>Mes collections : </h1>

        {% for collection in collections %}
            <h2 class="text-2xl">{{ collection.name }}</h2>
            <p>{{ collection.category.name }}</p>
        {% else %}
            <p>Vous avez aucunne collections</p>
        {% endfor %}
    <a href="{{ path('app_collection_new') }}">Create new</a>
{% endblock %}
