{% extends 'base.html.twig' %}

{% block title %}New Collection{% endblock %}

{% block body %}
    <h1>Create new Collection</h1>
    <div class="flex flex-wrap justify-center min-h-screen w-full mt-80">
        <div class="w-1/4">
            {{ include('collection/_form.html.twig') }}
        </div>
    </div>


    <a href="{{ path('app_collection_index') }}" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">back to list</a>
{% endblock %}
