{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <h1 class="text-4xl ml-4 mt-4">Editer votre profil</h1>

    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}


    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
